h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
}

.hero-content {
  text-align: center;
  margin: 0 auto;
  max-width: 696px;
  padding-right: 15px;
  padding-left: 15px;
}

.hero-title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-wh-color);
}

.hero-button {
  display: block;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-wh-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  border-width: 0;
}

/* Benefits */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits .list {
  display: flex;
}

.benefits .list-item {
  width: 270px;
}

.benefits .list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Activity */

.activity {
  padding-top: 0;
}

.activity-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.activity .list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.activity .list-item {
  width: 370px;
  margin: 15px;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.team-member {
  text-align: center;
  padding-bottom: 30px;
  background: var(--primary-wh-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member img {
  margin-bottom: 30px;
}
.team-member .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-member .occupation {
  font-size: 16px;
  line-height: 1.19;
}
